<div class="notification is-primary" style="margin-bottom: 2rem;">
    <p>Debe seleccionar en orden descendente las opciones</p>
    <p>Escoja <strong>Tipo de vehículo</strong>, click en seleccionar para cargar marca</p>
    <p>Escoja <strong>Marca</strong>, click en seleccionar para cargar modelo</p>
    <p>Escoja <strong>Modelo</strong>, click en seleccionar para cargar Año</p>
    <p>Escoja <strong>Año</strong>, click en seleccionar para cargar toda la información</p>
    <p>Ya con la información click en <strong>Convertir a pesos</strong> para obtener valor en pesos COP</p>
</div>